body 
{
    background-color: darkgrey;
    text-align: center;
    color: green;
}
h1
{
    color: blue;
    font-family: cursive;
}
h3
{
    color: palegoldenrod;
    font-style: italic;
}
p
{
    background-color: lightblue;
    color: darkgoldenrod;
}
button
{
    background-color: graytext;
    border: 5px;
    font-style: normal;
    color: darkslategrey;
    text-align: center;
}
.cl {
    background-color: blue;
}